html, body
{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}


header
{
    height: 100px;
    width:720px;
    text-align: center;
    background-color: black;
    color: white;
}

nav
{
    height:100px;
    display: flex;
    border-left: 53.75px black solid;
    border-right: 53.75px black solid;
    box-sizing: border-box;
    width:720px;
    justify-content: center;
}

nav > div
{
    
    display: flex;
    padding:4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.dimensionControl, .colorControl, .otherControl{
    width:33%;
}


.toggle, #clearbtn
{
    width:190px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border: 3px black solid;
    cursor: pointer;
    height:34.5px;
    margin:5px;
}

.toggle:active, #clearbtn:active {background-color: rgb(116, 114, 114); color:black}
.activebtn {background-color: rgb(61, 61, 61); ;}




.colorControl span{display: flex; align-items: center; justify-content: center;}

#colorPicker{width:35px;padding: 0; border:none; height:35px;}
#clearbtn{width:125px;}


.container
{
    width:720px;
    box-sizing: border-box;
    padding:52.5px 53.7px 52.5px 53.7px ;
    background-color: black;
    display:grid;
}

.container > div
{
    background-color: white;
    border-collapse: collapse;
    border: 0.1vmin solid rgb(119, 118, 118);
}